/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #121212;
    overflow: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c1c1c;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #6eacda;
}

/* Main Content */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #6eacda;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px 0;
    color: #6eacda;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ccc;
}

/* Skills Section */
.skills-section {
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 60%;
}

.skills-section h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.skills-box {
    width: 100%;
}

.skill-item {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.skill-name {
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    flex-basis: 20%;
}

.skill-bar {
    flex-grow: 1;
    background-color: #262626;
    height: 12px;
    border: 1px solid #0fffb7;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.skill-level {
    background-color: #0fffb7;
    height: 100%;
    position: relative;
    transition: width 0.5s ease;
}


.skill-bar .skill-level {
    color: #fff;
}

.skill-level:not(:hover) {
    overflow: hidden;
}

/* Media Query */
@media (max-width: 768px) {
    .skills-section {
        width: 90%;
        padding: 15px;
    }

    .skills-section h1 {
        font-size: 1.8rem;
    }

    .skill-item {
        flex-wrap: wrap;
    }

    .skill-name {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .skill-bar {
        flex-grow: 1;
    }

    .skill-level {
        font-size: 0.8rem;
    }
}

